@import "tailwindcss";

/* 1. Mendaftarkan warna custom ke engine Tailwind v4 */
/* Gunakan tanda hubung (-) agar class generate otomatis seperti bg-base-50, text-1-300, dll */
@theme {
    --color-base-50: rgb(255, 255, 255);
    --color-base-100: rgb(224, 224, 224);
    --color-base-200: rgb(192, 192, 192);
    --color-base-300: rgb(160, 160, 160);
    --color-base-400: rgb(128, 128, 128);
    --color-base-500: rgb(96, 96, 96);
    --color-base-600: rgb(64, 64, 64);
    --color-base-700: rgb(48, 48, 48);
    --color-base-800: rgb(32, 32, 32);
    --color-base-900: rgb(0, 0, 0);

    --color-1-50: rgb(245, 239, 252);
    --color-1-100: rgb(235, 223, 250);
    --color-1-200: rgb(215, 190, 245);
    --color-1-300: rgb(195, 158, 240);
    --color-1-400: rgb(175, 125, 234);
    --color-1-500: rgb(155, 93, 229);
    --color-1-600: rgb(124, 74, 183);
    --color-1-700: rgb(93, 56, 137);
    --color-1-800: rgb(62, 37, 92);
    --color-1-900: rgb(31, 19, 46);

    --color-2-50: rgb(254, 239, 248);
    --color-2-100: rgb(252, 222, 240);
    --color-2-200: rgb(249, 189, 226);
    --color-2-300: rgb(247, 157, 211);
    --color-2-400: rgb(244, 124, 196);
    --color-2-500: rgb(241, 91, 181);
    --color-2-600: rgb(193, 73, 145);
    --color-2-700: rgb(145, 55, 109);
    --color-2-800: rgb(96, 36, 72);
    --color-2-900: rgb(48, 18, 36);

    --color-3-50: rgb(255, 252, 236);
    --color-3-100: rgb(255, 250, 217);
    --color-3-200: rgb(255, 244, 179);
    --color-3-300: rgb(254, 239, 140);
    --color-3-400: rgb(254, 233, 102);
    --color-3-500: rgb(254, 228, 64);
    --color-3-600: rgb(203, 182, 51);
    --color-3-700: rgb(152, 137, 38);
    --color-3-800: rgb(102, 91, 26);
    --color-3-900: rgb(51, 46, 13);

    --color-4-50: rgb(230, 248, 254);
    --color-4-100: rgb(204, 241, 254);
    --color-4-200: rgb(153, 228, 252);
    --color-4-300: rgb(102, 214, 250);
    --color-4-400: rgb(51, 201, 249);
    --color-4-500: rgb(0, 187, 249);
    --color-4-600: rgb(0, 150, 199);
    --color-4-700: rgb(0, 112, 149);
    --color-4-800: rgb(0, 75, 100);
    --color-4-900: rgb(0, 37, 50);

    --color-5-50: rgb(230, 254, 251);
    --color-5-100: rgb(204, 253, 246);
    --color-5-200: rgb(153, 251, 238);
    --color-5-300: rgb(102, 249, 229);
    --color-5-400: rgb(51, 247, 221);
    --color-5-500: rgb(0, 245, 212);
    --color-5-600: rgb(0, 196, 170);
    --color-5-700: rgb(0, 147, 127);
    --color-5-800: rgb(0, 98, 85);
    --color-5-900: rgb(0, 49, 42);
}

/* 2. Setup untuk Elemen Dasar (Light Mode Default) */
@layer base {
    :root {
        --canvas-bg: var(--color-base-50);
        --content-text: var(--color-base-900);
    }

    body {
        background-color: var(--canvas-bg);
        color: var(--content-text);
        @apply antialiased transition-colors duration-300;
    }
}